* {
  padding: 0px;
  margin: 0px;
}

/* Add to Cart button styling */
.btn-secondary {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-secondary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* for the hero section */
.hero-container {
  background-image: url("../src/images/hero_img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-description {
  font-size: 1.2rem;
  margin: 20px 0;
}

.hero-btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #0056b3;
}

/* review of the about page */
.testimonial-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 150px;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* for the home box */
.box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.box h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.box p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.box a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.box a:hover {
  background-color: #0056b3;
}
